* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: rgb(245, 250, 255);
}

#board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.cell {
  min-height: 7rem;
  min-width: 7rem;
  padding: 1rem 2.5rem;
  font-size: 4rem;
  background-color: rgb(245, 250, 255);
  border: 0.025rem solid rgb(230, 240, 250);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.35s;
}

.cell:hover {
  background-color: rgb(233, 243, 253);
}

.non-clickable {
  pointer-events: none;
}

.hide {
  display: none;
}

#play-again {
  padding: 1rem 2rem;
  background-color: rgb(245, 250, 255);
  font-weight: 900;
  border: 0.025rem solid rgb(204, 228, 250);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.35s;
}

#play-again:hover {
  background-color: rgb(233, 243, 253);
}
